section.project {
  padding: 95.5px 0 0;

  div.useful-width {

    div.margin-constraint {

      div.title {
        color: var(--main-white);
        text-align: center;

        img {
          width: 100%;
          height: auto; /* Added this line to maintain aspect ratio */
          max-height: 400px; /* Added this line to limit the height */
          object-fit: cover; /* Added this line to crop and fit the image */
        }

        h2 {

          font-size: 2.5rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }
      }

      div.container {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        color: var(--main-white);
        background-color: var(--third-bg-gray);
        padding: 5px 10px 10px 10px;
        border-radius: 5px;

        div.infos {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          column-gap: 10px;
          // background-color: red;
          width: 100%;

          div.description {
            // background-color: green;
            display: flex;
            flex-direction: column;
            width: 75%;
            padding: 0 0 0 30px;

            h3 {

            }

            p {
              text-align: justify;
              font-size: 1rem;
              line-height: 1.5rem;
            }

            div.description_container {
              display: flex;
              width: 100%;

              p {
                text-align: justify;
                font-size: 1rem;
                line-height: 1.5rem;
              }
            }

            a.btn {
              box-sizing: border-box;
              display: block;
              width: 100%;
              text-align: center;
              padding: 10px 20px;
              border: 1px solid var(--main-dark-gray);
              background-color: var(--secondary-bg-dark-gray);
              border-radius: 10px;
              color: var(--main-white);
              outline: none;
              font-size: 1rem;
              text-decoration: none;
              transition: all 0.3s ease-in-out;
              font-weight: bold;

              &:hover {
                background-color: var(--main-info);
                border: 1px solid var(--main-dark-gray);
              }

              &:disabled {
                background-color: var(--main-warning) !important;
                border: 1px solid var(--main-dark-gray);
              }
            }
          }

          div.skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            // background-color: blue;
            width: 25%;

            div.skill {
              padding: 0 10px;
              border-radius: 10px;
              background-color: var(--main-bg);
              display: flex;
              flex-direction: row;
              column-gap: 10px;
              justify-content: center;
              align-items: center;
              min-width: 120px;

              img {

                width: 25px;
              }

              &:hover {
                background-color: var(--secondary-bg);
                cursor: pointer;
              }


            }
          }

        }

        div.screenshots {
          display: flex;
          flex-direction: column;
          row-gap: 10px;

          h1 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
          }

          div.container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            row-gap: 10px;

            div.screenshot {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: relative;


              img {
                border-radius: 10px;
                width: 100%;
                filter: grayscale(100%);

                transition: filter 0.3s ease;

                &:hover {
                  cursor: pointer;
                  filter: grayscale(0);
                }
              }
            }
          }

          p {
            text-align: center;
            font-size: 0.8rem;
            color: var(--main-warning);
            margin-bottom: 5px;
            font-weight: bold;
          }

        }



      }
    }
  }

}

@media (max-width: 800px) {

  section.project {

    div.useful-width {

      div.margin-constraint {

        div.title {

        }

        div.container {

          div.infos {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            width: 100%;

            div.description {
              padding: 0;
            }
          }

        }
      }
    }
  }

}

$modal-bg-color: rgba(0,0,0,0.4);

div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $modal-bg-color;

  &.show {
    display: block;
  }

  div.useful-width {

    div.margin-constraint {

      div.modal-content {
        background-color: var(--main-bg);
        margin: 15% auto;
        padding: 0 20px;
        border-radius: 10px;
        width: 80%;

        span.close-button {
          color: var(--main-white);
          float: right;
          font-size: 28px;
          font-weight: bold;

          &:hover,
          &:focus {
            color: var(--main-danger);
            text-decoration: none;
            cursor: pointer;
          }
        }

        img {
          width: 100%;
        }
      }


    }
  }



}

@media (max-width: 800px) {

  div.modal {
    padding-top: 70px;

  }

}


