<section class="project">
  <div class="useful-width">
    <div class="margin-constraint">
      <div class="title">
        <img *ngIf="currentProject.img" src="{{ assetsUrl + 'projects/bg/' + currentProject.bgImg }}" alt="">
        <h2>{{ currentProject.name }}</h2>
      </div>

      <div class="container">
        <div class="infos">
          <div class="description">
            <h3>{{ currentProject.subtitle || 'Project Description' }}</h3>
            <!--<p>{{ currentProject.description }}</p>-->

            <div class="description_container" [innerHTML]="currentProject.description">

            </div>
            <a href="{{ currentProject.demoUrl }}" target="_blank" class="btn">Launch 🚀</a>
          </div>
          <div class="skills">
            <h3>Skills</h3>
            <div class="skill" *ngFor="let skill of currentProject.skills">
              <img src="{{ assetsUrl + skill.img }}" alt="">
              <p>{{ skill.name }}</p>
            </div>
          </div>
        </div>

        <div class="screenshots">
          <h1>Screenshots</h1>
          <ng-container *ngIf="!currentProject.screenshots?.length">

            <p>There is no screenshots to display, wait for an update</p>

          </ng-container>
          <div class="container">

            <ng-container *ngIf="currentProject.screenshots">
              <div class="screenshot" *ngFor="let screenshot of currentProject.screenshots">


                <img src="{{ assetsUrl + 'projects/screenshots/' + currentProject.url + '/' + screenshot }}"
                     alt="screenshot" (click)="openInPreview(currentProject.url, screenshot)">

              </div>
            </ng-container>


          </div>

        </div>


      </div>
    </div>
  </div>
</section>

<div class="modal" [ngClass]="{'show': displayModal}">
  <div class="useful-width">
    <div class="margin-constraint">
  <div class="modal-content">

        <span class="close-button" (click)="closePreview()">&times;</span>
        <img [src]="currentScreenshotUrl" alt="Popup Image">
      </div>
    </div>
  </div>
</div>
