<section class="intro">
  <div class="useful-width">
    <div class="margin-constraint">
      <div class="container">


        <div class="left">
          <h1>Hi ✌️,</h1>
          <h2>
            I'm <span>Adrian Chiapello</span>
          </h2>
          <p>
            FullStack Developer - Freelancer - TryHarder 🚀
          </p>

          <div class="experiences">
            <div class="work">
              <h3>
                +10
              </h3>
              <p>
                Years of Experience
              </p>
            </div>
            <div class="projects">
              <h3>
                +50
              </h3>
              <p>
                Projects
              </p>
            </div>
          </div>
        </div>
        <div class="right">
          <img src="assets/img/skills.svg" alt="Skills">

        </div>

      </div>
    </div>
  </div>
</section>

<section class="about_me">
  <div class="useful-width">
    <div class="margin-constraint">
      <div class="container">
        <div class="left">
          <div class="skill">
            <h2>Frontend Developer 👷</h2>
            <p>
              As an experienced Frontend Developer specializing in Angular, I excel at transforming innovative designs
              into high-quality web applications. With a strong grasp of user experience and interface design
              principles, I create dynamic and responsive websites that engage users effectively.
            </p>
          </div>
          <div class="skill">
            <h2>Backend Developer 🧰</h2>
            <p>
              As an experienced Backend Developer specializing in Node / Express.js. I create dynamic and efficient API.
            </p>
          </div>
          <div class="skill">
            <h2>R&D 🚀</h2>
            <p>
              A well-organized, creative and goaloriented graduate possessing excellent problem-solving and leadership skills with a flair to explore Computer Science
              Engineering
            </p>
          </div>
        </div>

        <div class="right">

          <div class="img">
            <img src="assets/img/hobbies.svg" alt="">
          </div>

          <div class="description">
            <h3>
              About me
            </h3>

            <p>
              I'm a <span>FullStack Developer</span> with more than <span class="info">6 years of experience</span> in
              the field. I'm <span>passionate</span> about technology and I <span>love to learn</span> new things. I'm a
              <span>self-taught</span> person and I'm always looking for <span class="danger">new challenges</span>.
            </p>

            <p>
              I have experience in different domains like <span>Streaming Platform</span>, <span>Learning Management System</span>
              , <span>Socket.io</span>, <span>Website</span>, <span>API</span>, <span>WebApp</span>, <span>PWA</span>
              etc...
            </p>

            <div class="current_status">
              <h3>
                Current Status 🟢
              </h3>
              <p>
                I'm currently working as a <span class="info">Freelancer</span> and I'm looking for a <span class="danger">Full Remote</span> job over the world.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</section>

<!--<section class="companies">

</section>-->

<section id="projects" class="projects">
  <div class="useful-width">
    <div class="margin-constraint">
      <div class="container">
        <div class="title">
          <h1>🔥 Latest's Projects 🔥</h1>
          <p>Last update: 2023-05-17</p>
        </div>
        <div class="projects">
          <div class="project" *ngFor="let project of projects">
            <div class="logo">
              <img src="assets/{{ project.img }}" alt="">
            </div>
            <div class="name">
              <h3>{{ project.name }}</h3>
              <p>
                {{ project.shortDescription }}
              </p>
            </div>
            <a class="btn" routerLink="project/{{ project.url }}">Discover 🚀</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="personal_projects">
  <div class="useful-width">
    <div class="margin-constraint">
      <div class="container">

        <div class="title">
          <h1>🧙‍️ Personal's Projects 🧙‍</h1>
          <p>Last update: 2023-05-01</p>
        </div>

        <div class="projects">

          <div class="project" [ngClass]="{ 'disabled': !project.status }" *ngFor="let project of personalProjects">
            <div class="logo">
              <img src="assets/{{ project.img }}" alt="">
            </div>
            <div class="name">
              <h3>{{ project.name }}</h3>
              <p>
                {{ project.shortDescription }}
              </p>
            </div>
            <a class="btn" routerLink="project/{{ project.url }}" >Discover 🚀</a>

          </div>

          <!--<div class="project">

            <div class="logo">
              <img src="assets/projects/pullpush.svg" alt="">
            </div>
            <div class="info">
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
                  <path
                    d="M453 776h60V536h-60v240Zm26.982-314q14.018 0 23.518-9.2T513 430q0-14.45-9.482-24.225-9.483-9.775-23.5-9.775-14.018 0-23.518 9.775T447 430q0 13.6 9.482 22.8 9.483 9.2 23.5 9.2Zm.284 514q-82.734 0-155.5-31.5t-127.266-86q-54.5-54.5-86-127.341Q80 658.319 80 575.5q0-82.819 31.5-155.659Q143 347 197.5 293t127.341-85.5Q397.681 176 480.5 176q82.819 0 155.659 31.5Q709 239 763 293t85.5 127Q880 493 880 575.734q0 82.734-31.5 155.5T763 858.316q-54 54.316-127 86Q563 976 480.266 976Zm.234-60Q622 916 721 816.5t99-241Q820 434 721.188 335 622.375 236 480 236q-141 0-240.5 98.812Q140 433.625 140 576q0 141 99.5 240.5t241 99.5Zm-.5-340Z"/>
                </svg>
              </a>
            </div>
            <div class="name">
              <h3>Pull Push Training</h3>
              <p>
                A Discord Community training to become a fullstack web developer as 🚀.
              </p>
            </div>
            <a class="btn" href="https://discord.gg/h6akM7c4k4" target="_blank">Launch 🚀</a>
          </div>

          <div class="project disabled">
            <div class="logo">
              <img src="assets/projects/coinlabs.png" alt="">
            </div>
            <div class="info">
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
                  <path
                    d="M453 776h60V536h-60v240Zm26.982-314q14.018 0 23.518-9.2T513 430q0-14.45-9.482-24.225-9.483-9.775-23.5-9.775-14.018 0-23.518 9.775T447 430q0 13.6 9.482 22.8 9.483 9.2 23.5 9.2Zm.284 514q-82.734 0-155.5-31.5t-127.266-86q-54.5-54.5-86-127.341Q80 658.319 80 575.5q0-82.819 31.5-155.659Q143 347 197.5 293t127.341-85.5Q397.681 176 480.5 176q82.819 0 155.659 31.5Q709 239 763 293t85.5 127Q880 493 880 575.734q0 82.734-31.5 155.5T763 858.316q-54 54.316-127 86Q563 976 480.266 976Zm.234-60Q622 916 721 816.5t99-241Q820 434 721.188 335 622.375 236 480 236q-141 0-240.5 98.812Q140 433.625 140 576q0 141 99.5 240.5t241 99.5Zm-.5-340Z"/>
                </svg>
              </a>
            </div>
            <div class="name">
              <h3>CoinLabs</h3>
              <p>
                A monitoring platform to get an overview with all cryptocurrencies platforms like Binance / CoinLabs etc...
              </p>
            </div>
            <a class="btn disabled" href="#" target="_blank">Disabled 💥</a>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
