section.intro {
  padding: 130px 0 0 0;

  div.useful-width {

    div.margin-constraint {

      div.container {
        display: flex;
        column-gap: 20px;

        div.left {
          padding: 100px 0;

          h1 {
            color: var(--main-white);
            font-size: 40px;
            margin: 0;
          }

          h2 {
            font-size: 60px;
            margin: 0;
            line-height: 50px;
            color: var(--main-white);

            span {
              font-weight: bold;
              color: var(--main-info);
            }
          }

          p {
            font-weight: bold;
            color: var(--main-white);
          }

          div.experiences {
            display: flex;
            flex-direction: row;
            column-gap: 10px;

            div.work, div.projects {
              display: flex;
              column-gap: 10px;
              align-items: center;

              h3 {
                color: var(--main-white);
                font-size: 50px;
                margin: 0;
              }

              p {
                color: var(--main-danger);
                font-size: 15px;
                margin: 0;
              }
            }

          }
        }

        div.right {
          img {
            width: 400px;
            height: 100%;
          }
        }

      }

    }
  }
}

@media (max-width: 800px) {

  section.intro {
    padding: 130px 0 30px;

    div.useful-width {

      div.margin-constraint {

        div.container {
          flex-direction: column;
          row-gap: 30px;

          div.left {
            padding: 0;
          }

          div.right {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }

}

section.about_me {
  background-color: var(--secondary-bg);

  div.useful-width {

    div.margin-constraint {

      div.container {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 40px;

        div.right {
          row-gap: 30px !important;

          div.img {
            img {

              height: 400px;
              border-radius: 10px;

            }
          }

          div.description {
            h3 {

              color: var(--main-white);
              font-size: 30px;
              margin: 0;

            }

            p {

              color: var(--main-white);

              span {
                font-weight: bold;

                &.danger {
                  color: var(--main-danger);
                }
                &.info {
                  color: var(--main-info);
                }
              }

            }

            div.current_status {
              color: var(--main-white);

              h3 {

                font-size: 22px;
                margin: 0;
              }

              p {
                font-size: 15px;
                margin: 0;

                span {
                  font-weight: bold;

                  &.danger {
                    color: var(--main-danger);
                  }
                  &.info {
                    color: var(--main-info);
                  }

                }
              }

            }
          }

        }

        div.left, div.right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          row-gap: 20px;

          div.skill {

            background-color: var(--main-twitch);
            border-radius: 10px;
            padding: 10px 20px;
            box-sizing: border-box;

            h2 {

              color: var(--main-white);

            }

            p {
              color: var(--main-white);

            }

            &:hover {

              cursor: pointer;
              box-shadow: 10px 0 30px 11px rgba(0,0,0,0.1);

              h2 {
                transition: 0.5s ease-in-out;
                color: var(--secondary-bg);

              }

            }
          }
        }

      }
    }
  }

}

@media (max-width: 800px) {

  section.about_me {

    div.useful-width {

      div.margin-constraint {

        div.container {
          flex-direction: column;
          align-items: center;
          row-gap: 50px;

          div.right {
            width: 100%;

            div.img {
              img {
                width: 100%;
                margin: -50px 0 -40px;
              }
            }

          }

          div.left {
            width: 100%;

            div.skill {
              width: 100%;
            }
          }

        }

      }
    }


  }

}

section.projects, section.personal_projects {
  div.useful-width {
    div.margin-constraint {
      div.container {

        div.title {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
          row-gap: 20px;

          h1 {
            color: var(--main-white);
            font-size: 40px;
            margin: 0;
          }

          p {
            color: var(--main-white);
            font-size: 12px;
            margin: 0;
            font-weight: bold;
          }

        }

        div.projects {

          display: grid;
          grid-template-columns: auto;
          grid-auto-flow: column;
          overflow-x: scroll;
          grid-gap: 10px;
          column-gap: 20px;
          padding: 70px 0;

          div.project {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 20px 40px 20px;

            background-color: var(--secondary-bg-dark-gray);
            border-radius: 10px;
            position: relative;
            text-align: center;
            min-width: 300px;
            border: 1px solid transparent;

            div.logo {
              text-align: center;

              img {
                border-radius: 50%;
                width: 100px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            div.info {
              a {
                text-decoration: none;
                position: absolute;
                top: 0;
                right: 10px;

                svg {
                  width: 32px;
                  fill: var(--main-white);

                  &:hover {
                    fill: var(--main-info);
                  }
                }
              }

            }

            div.name {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding-top: 20px;

              h3 {
                color: var(--main-white);
                font-size: 30px;
                margin: 0;
              }

              p {
                color: var(--main-white);
                font-size: 15px;
                margin: 0;
              }
            }

            a.btn {
              padding: 10px 20px;
              background-color: var(--main-info);
              position: absolute;
              bottom: -40px;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 10px;

              color: var(--main-white);
              font-size: 15px;
              margin: 0;
              text-decoration: none;
              transition: 0.5s ease-in-out;

              &:hover {
                color: var(--main-info);

                &.disabled {
                  color: var(--main-white);
                }
              }

              &:hover {
                background-color: var(--main-bg-gray);
                cursor: pointer;
              }

              &.disabled {
                background-color: var(--main-warning);

                &:hover {
                  cursor: not-allowed;
                }
              }
            }

            &:hover {
              transition: 0.1s ease-in-out;
              border-color: var(--main-info);

              &.disabled {
                border-color: var(--main-warning) !important;
              }

            }

          }

        }
      }
    }
  }
}

@media (max-width: 800px) {

  section.projects, section.personal_projects {

    div.useful-width {

      div.margin-constraint {

        div.container {

          div.title {

            h1 {

              font-size: 24px;

            }
          }
        }
      }
    }

  }

}

section.personal_projects {

  background-color: var(--secondary-bg);

  div.useful-width {
    div.margin-constraint {
      div.container {

        div.projects {

          div.project {

            background-color: var(--main-bg);
          }

        }

      }
    }
  }



}

