<section class="main-menu">

  <div class="useful-width">
    <div class="margin-constraint">

      <nav>

        <div class="logo">
          <a href="/">
            <img src="assets/img/para.png" alt="logo">
          </a>
        </div>
        <div class="menu">
          <ul>
            <li>
              <a *ngIf="projectAnchor" (click)="scrollToSection('projects')">
                <span>Projects</span>
                <img src="assets/icons/project/project_white.svg" alt="">
              </a>
              <a *ngIf="!projectAnchor" href="/#projects">
                <span>Projects</span>
                <img src="assets/icons/project/project_white.svg" alt="">
              </a>
            </li>
            <li>
              <a href="assets/docs/CV-Para-2023.pdf" target="_blank">
                <span>Resume</span>
                <img src="assets/icons/resume/resume_white.svg" alt="">
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/adrian-chiapello-6b302a120/" target="_blank">
                <span>Hire me</span>
                <img src="assets/icons/appointment/appointment_white.svg" alt="">
              </a>
            </li>
          </ul>
        </div>

      </nav>


    </div>
  </div>

</section>
