section.main-menu {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-bg);
  z-index: 10;
  border-bottom: 1px solid var(--main-bg-gray);

  div.useful-width {
    div.margin-constraint {
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;

        div.logo {
          display: flex;
          align-items: center;
          height: 100%;

          img {
            width: 50px;
            height: 50px;
          }
        }

        div.menu {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          height: 100%;

          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            row-gap: 0;
            column-gap: 20px;

            li {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;

              a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 0 10px;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                span {
                  display: initial;

                  color: var(--main-white);
                  font-size: 16px;
                  font-weight: 600;
                }

                img {
                  display: none;
                }

                &:hover {
                  color: var(--main-twitch);
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }


}


@media (max-width: 500px) {

  section.main-menu {

    div.useful-width {

      div.margin-constraint {

        nav {

          div.menu {

            ul {

              li {

                a {
                  font-size: 14px;

                  span {
                    display: none;
                  }

                  img {
                    display: initial;
                    width: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
