<section class="hire_me">



  <div class="title">
    <h1>Hire me 🤝</h1>
  </div>

  <div class="socials">
    <div class="social">
      <a href="https://www.linkedin.com/in/adrian-chiapello-6b302a120/" target="_blank">
        <div class="img">
          <img src="assets/icons/socials/linkedin.svg" alt="">
        </div>
      </a>
    </div>
    <div class="social">
      <a href="#">
        <div class="img">
          <img src="assets/icons/socials/discord.svg" alt="">
          <p>{{ discord }}</p>
        </div>
      </a>
    </div>
    <div class="social">
      <a href="https://twitter.com/4140_Para" target="_blank">
        <div class="img">
          <img src="assets/icons/socials/twitter.svg" alt="">
        </div>
      </a>
    </div>
  </div>

</section>

<section class="version">
  <a href="https://gitlab.com/Para-FR/my-portfolio" target="_blank"><img src="assets/icons/socials/gitlab.svg" alt="">View Source Code</a>
  <p><span class="{{ currentApiStatus }}"></span> API STATUS</p>
</section>
