section.hire_me {
  margin-top: 20px;
  padding: 20px 0;

  div.title {
    text-align: center;

    h1 {
      color: var(--main-white);
      font-size: 40px;
      margin: 0;
    }

  }

  div.socials {
    padding-top: 20px;
    display: flex;
    justify-content: center;

    div.social {

      a {

        div.img {
          display: flex;
          flex-direction: column;
          align-items: center;


          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transition: 0.5s ease-in-out;

            &:hover {
              cursor: pointer;
              transform: scale(1.3);
            }
          }

          p {
            color: var(--main-white);
            font-weight: bold;
            margin: 0;
            padding: 5px 10px;
          }

        }

      }
    }

  }

}

section.version {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg);
  height: 50px;
  padding: 10px 20px;


  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-white);
    font-size: 12px;
    margin: 0;
    font-weight: bold;

    img {
      height: 20px;
      margin-right: 10px;
    }
  }

  p {
    display: flex;
    align-items: center;

    color: var(--main-white);
    font-size: 12px;
    margin: 0;
    font-weight: bold;

    span {
      //green circle
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: transparent;
      margin-right: 5px;

      &.online {
        background-color: var(--main-success);
      }

      &.maintenance {
        background-color: var(--main-warning);
      }

      &.offline {
        background-color: var(--main-danger);
      }
    }
  }

}
