/* You can add global styles to this file, and also import other style files */

/* Universal selector to target all scrollbars */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbars */
  height: 5px;
}

/* Style for the track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: none; /* Light grey color */
}

/* Style for the handle (grip) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: var(--main-info); /* Dark grey color */
  border-radius: 5px;
}

:root {
  /*
  Vert foncé : #7289da
Gris foncé : #2c2f33
Gris clair : #99aab5
Blanc : #ffffff
Noir : #000000
   */

  --main-light-gray: #99aab5;
  --secondary-light-gray: #b9bbbe;
  --main-dark-gray: #3e4247;
  --bg-dark-gray: #2c2f33;
  --secondary-bg-dark-gray: #34373c;


  --main-white: #fff;
  --secondary-white: #f2f3f5;
  --main-twitch: #5865f2;

  --secondary-bg-gray: #2f3136;
  --third-bg-gray: #292b2f;

  // STATUS
  --main-danger: #ed1d49;
  --main-warning: #ff6600;
  --main-success: #26ea51;
  --main-info: #2283f6;
  --secondary-info: #0e5bbf;

  // NEW COLORS

  --main-bg-gray: #171419;
  --main-bg: #1e202a;
  --secondary-bg: #2b303e;
  --light-bg: #43495c;

  --bg-overlay-app-menu: linear-gradient(to bottom, #36393f, #2f3136);


}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Noto Sans Duployan', sans-serif;
  background-color: var(--main-bg-gray);
  // background-color: var(--red);
}

.margin-constraint {
  /*On indique tout simplement une marge*/
  margin-left: 20px;
  margin-right: 20px;
}

.useful-width {
  /*On règle ensuite la largeur utile puis on centre*/
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.margin-constraint, .useful-width {
  /*Si vous utilisez uniquement des div, cette dernière règle css n'est même pas nécessaire*/
  display: block;
  width: auto;
}

.sec-padding {
  padding: 64px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

select {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

div.router {
  margin-top: 20px;

  a {
    font-size: 0.9rem;
    color: var(--secondary-light-gray);
    transition: color 0.2s;


    &:hover {
      color: var(--main-white);
      cursor: pointer;
    }
  }
}

a {
  text-decoration: none;
}

p {

  &.error_message {

    color: var(--main-danger) !important;

  }

}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--main-twitch);
  color: var(--main-white);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(75, 88, 229); // Adjust the color to be slightly darker
  }

  &:disabled {
    cursor: not-allowed;

  }
}


// Définir la classe CSS pour l'élément de chargement
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // Hauteur de votre élément de chargement

  // Définir les styles pour le cercle
  &::after {
    content: "";
    width: 20px; // Largeur du cercle
    height: 20px; // Hauteur du cercle
    margin: 0 10px; // Marge entre le cercle et le texte
    border-radius: 50%;
    border: 3px solid var(--main-white);
    border-top-color: var(--main-dark-gray);
    animation: spin 1s ease-in-out infinite;
  }

  // Définir l'animation de rotation
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}


/**
  DISCOVER COMMONS
 */

section.basic {

  padding: 20px 0 0 312px;
  border-top: 1px solid var(--secondary-bg-gray);

  // height: 100vh;

  div.useful-width {
    // height: 100%;

    div.margin-constraint {

      div.header {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        img {
          width: 100%;
        }

        div.container {
          color: var(--main-white);
          background-color: var(--third-bg-gray);
          padding: 5px 10px 10px 10px;
          border-radius: 5px;

          h3 {
            margin: 0 0 10px 0; // gauche haut droite bas
          }
        }

      }


    }
  }

}

section {

  form {
    .input, select {
      margin-bottom: 20px;
      text-align: left;

      label {
        display: block;
        font-size: 0.8rem;
        color: #8e9297;
        margin-bottom: 5px;
        font-weight: bold;

      }

      input, select {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid var(--main-dark-gray);
        background-color: var(--secondary-bg-dark-gray);
        border-radius: 3px;
        color: var(--main-white);
        outline: none;
        font-size: 1rem;
        box-sizing: border-box;

        &::placeholder {
          color: var(--main-light-gray);
        }

        &:-webkit-autofill {
          background: none;
        }
      }
    }


    a {
      color: var(--secondary-light-gray);
    }
  }


}

// exceptions

.emoji-mart-dark {
  color: var(--main-white) !important;
  background-color: var(--secondary-bg) !important;
  border: none !important;
}

.emoji-mart-search input {
  color: var(--main-white) !important;
  background-color: var(--main-bg) !important;
}

.emoji-mart-search input::placeholder {
  color: var(--main-light-gray) !important;
}

.emoji-mart-anchor-selected, {
  color: var(--main-info) !important;
}
.emoji-mart-anchor {
  &:hover {
    cursor: pointer;
  }
}

.emoji-mart-anchor-bar {
  background-color: var(--main-info) !important;
}



